@charset "utf-8";
#body0{
	width: 1280px;
	margin:2% auto;
}
/*.header_bg{

	height: 95px;
}*/
#top{
	height: 95px;
	background-color:#EA6363;
}
.table-bg{
	background-color:#EA6363;
	border-style:none;
	transition: all 0.5s;
}
.table-bg:hover{
	background-color:#cea4a4;
	border-style:none;
}
.header_img{
	display: inline;
	padding: 0px 20px 0px 0px;
	border-color: #EA6363;
}
.button{
	width:25px;
	height:25px;
}
.input0{
	background-color:#EA6363;
	color:#FFFFFF;
	border-style:none;
}
.lognin:link{
	color:#FFFFFF;
	font-family:Microsoft JhengHei;
	font-size: 22px;
	font-weight:bold;
	text-decoration:none;
}
.lognin:visited{
	color:#FFFFFF;
	font-family:Microsoft JhengHei;
	font-size: 22px;
	font-weight:bold;
	text-decoration:none;
}
.lognin:hover{
	color:#444444;
	font-family:Microsoft JhengHei;
	font-size: 22px;
	font-weight:bold;
	text-decoration:none;
}
.lognin:active{
	color:#666666;
	font-family:Microsoft JhengHei;
	font-size: 22px;
	font-weight:bold;
	text-decoration:none;
}
.navdiv{
	background-color:#FFFFFF;
	width: 1280px;
	padding: 5px 0 10px 0;
}
.nav2{
	font-family:Microsoft JhengHei;
	font-size: 25px;
}

.nav1{
	display: inline;
	padding: 0px 25px 0px 167px;
	font-family:Microsoft JhengHei;
	font-size: 25px;
	font-weight:bold;
}
.nav0{
	display: inline;
	padding: 0px 30px 0px 30px;
	font-family:Microsoft JhengHei;
	font-size: 25px;
	font-weight:bold;
}
.nav2 a:link {color:#444444; font-size:25px; text-decoration:none;}    /* 設定尚未點閱過的連結樣式 */
.nav2 a:visited {color:#444444; text-decoration:none;} /* 設定過去曾經閱過的連結 */
.nav2 a:hover {color:#009FCC;font-size:25px; text-decoration:none;}   /* 設定滑鼠游標指在連結位置上的樣式 */

.nav1 a:link {color:#444444; font-size:25px; text-decoration:none;}    /* 設定尚未點閱過的連結樣式 */
.nav1 a:visited {color:#444444; text-decoration:none;} /* 設定過去曾經閱過的連結 */
.nav1 a:hover {color:#009FCC;font-size:25px; text-decoration:none;}   /* 設定滑鼠游標指在連結位置上的樣式 */

.nav0 a:link {color:#444444; font-size:25px; text-decoration:none;}    /* 設定尚未點閱過的連結樣式 */
.nav0 a:visited {color:#444444; text-decoration:none;} /* 設定過去曾經閱過的連結 */
.nav0 a:hover {color:#009FCC;font-size:25px; text-decoration:none;}   /* 設定滑鼠游標指在連結位置上的樣式 */

.Monopoly{
	background-color:#4DBDC2;
	margin: -20px 0 0 0;
	height: 530px;
	padding-top:10px;
}
.img-monopoly{
	position:absolute;
	margin: -35px 0 0 0;
	padding: 0 2% 0 2%;
	width:1200px;
	height:650px;
    z-index:0;
}
.monopoly_button01{
	position:absolute;
    z-index:1;
   top:265px;
   left: 140px;
    width: 1200px;
    height: 650px;
}
.news{
	padding: 6% 10% 0% 10%;
}
.triangle_css{
	width:90px;
	height:25px;
}
.myButton:link{
	color:#FFFFFF;
	background-color:#59b0b3;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:14px;
	padding:2px 3px;
	text-decoration:none;
}
.myButton:visited{
	color:#FFFFFF;
	background-color:#59b0b3;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:14px;
	padding:2px 3px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#069;
	font-size:14px;
	color:#FFFFFF;
	text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
	font-size:14px;
	text-decoration:none;
}


.myButton2:link{
	color:#FFFFFF;
	background-color:#00AA55;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:14px;
	padding:2px 3px;
	text-decoration:none;
}
.myButton2:visited{
	color:#FFFFFF;
	background-color:#00AA55;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:14px;
	padding:2px 3px;
	text-decoration:none;
}
.myButton2:hover {
	background-color:#008844;
	font-size:14px;
	color:#FFFFFF;
	text-decoration:none;
}
.myButton2:active {
	position:relative;
	top:1px;
	font-size:14px;
	text-decoration:none;
}
.flexslider{
	position:relative;
    z-index:0;
}
.img_flexslider{
	right: 2%;
	top:1135px;
	width: 220px;
	height: 140px;
	position:absolute;
    z-index:10;
}
.date_bg{
	color:#FFFFFF;
	background-color:#59b0b3;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:21px;
	display:inline-block;
	font-family:Arial;
	font-size:21px;
	padding:8px 17px;
	margin: 10px 0 10px 0;
}
.date_bg_2{
	color:#FFFFFF;
	background-color:#00AA55;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:21px;
	display:inline-block;
	font-family:Arial;
	font-size:21px;
	padding:8px 17px;
	margin: 10px 0 10px 0;
}
.border_bottom{
	border-bottom:#FFB7DD 2px solid;
	padding:2px;
	font-family:Microsoft JhengHei;
	font-size: 25px;
	font-weight:bold;
}
.border_bottom_2{
	border-bottom:#FFB7DD 2px solid;
	padding:2px;
	font-family:Microsoft JhengHei;
	font-size: 16px;
	font-weight:bold;
}
.rows{
	border-bottom:#FFB7DD 2px solid;
	padding:15px;
	font-family:DFKai-sb;
	font-size: 21px;
	margin: 0 0 20px 0;
}
.footer_bg{
	margin: 30px 0 0 0;
}
.footer_nav{
	background-color:#EA6363;
	margin:-50px 30% 0 30%;
}
.fnav0{
	display: inline;
}
.fnav1{
	display: inline;
	color:#FFFFFF;
	font-size:10px;
}
.fnav0 a:link {	color:#FFFFFF; font-size:16px; font-family:DFKai-sb; text-decoration:none;}    /* 設定尚未點閱過的連結樣式 */
.fnav0 a:visited {color:#FFFFFF;font-family:DFKai-sb; text-decoration:none;} /* 設定過去曾經閱過的連結 */
.fnav0 a:hover {color:#444444;; font-size:16px; font-family:DFKai-sb; text-decoration:none;}   /* 設定滑鼠游標指在連結位置上的樣式 */